@import '../../styles/variables.scss';

#layout {
  a {
    cursor: pointer;
    color: inherit;
  }

  svg {
    color: #6a737d;
    margin: 0;
  }

  &.light {
    @media screen and (max-width: $break-l) {
      #Header {
        background-color: $background-color;
      }
    }
  }

  &.dark {
    svg {
      color: #a3aab3;
    }

    @media screen and (max-width: $break-l) {
      #Header {
        background-color: $background-color-d;
      }
    }
  }
}

a {
  text-decoration: none;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (max-width: $break-m) {
    padding-top: $header-height-m;
  }
  @media screen and (max-width: $break-s) {
    padding-top: $header-height-s;
  }

  main {
    flex-grow: 1;
  }

  footer {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.8;
    user-select: none;
  }
}